.DS_Store
out
node_modules
examples/*/lib
analysis/tests/lib
analysis/tests/.bsb.lock
analysis/tests/.merlin
# artifacts from binary compilation
*.exe
*.cmi
*.cmt
*.cmti
*.cmx
*.o
*.install
# opam local switch
analysis/_opam
