.DS_Store
out
node_modules
examples/*/lib
analysis/tests/lib
analysis/tests/.bsb.lock
analysis/_build
analysis/tests/.merlin
analysis/rescript-editor-analysis.exe
analysis/_opam
tools/node_modules
tools/lib
tools/**/.bs.js
