.DS_Store
out
node_modules
examples/*/lib

analysis/tests/lib
analysis/tests/.bsb.lock

analysis/tests-generic-jsx-transform/lib
analysis/tests-generic-jsx-transform/.bsb.lock

analysis/tests-incremental-typechecking/lib
analysis/tests-incremental-typechecking/.bsb.lock

tools/node_modules
tools/lib
tools/**/*.res.js
tools/tests/node_modules
tools/tests/lib

rescript-editor-analysis.exe
rescript-tools.exe

_opam/
_build/

*.tsbuildinfo

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions