.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
contributing.md
.github/**
server/node_modules/.bin
node_modules/.bin
analysis/
tools/
scripts/
dune-project
analysis.opam
tools.opam
.ocamlformat
.ocamlformat-ignore
