.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
contributing.md
.github/**
server/node_modules/
node_modules/
client/node_modules/
analysis/
Makefile
server/analysis_binaries/README.md
